@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Manrope:wght@200..800&display=swap");
body.modal-open {
  overflow: hidden;
}

.container-header a {
  text-decoration: none;
  color: white;
}

.container-header {
  font-family: "Manrope", sans-serif;
  padding: 20px 70px;
  position: fixed;
  height: 78px;
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container-header {
    padding: 20px 20px;
    height: 100px;
  }
  .container-header a img {
    width: 80%;
  }

  .logo-header {
    width: 190px !important;
  }

  .menu-burger img {
    width: 32px;
  }
}

/* BETWEEN 768px and 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
  .logo-header {
    width: 120px !important;
  }
}

@media (max-width: 1024px) {
  .logo-header {
    width: 290px;
  }

  .menu-burger img {
    width: 32px;
  }
}
